html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* altura do seu footer */
}

/*Stylos para a busca*/
.painel-search-animado.ng-leave-active {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
}

.painel-search-animado {
    -webkit-transition: 0.5s;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

/*END Stylos para a busca*/

/*Estilos para listagem */
.tr-result-search td {
    padding-top: 20px !important;
    background: rgba(245, 241, 241, 0.39);
}

/*Estilos para as Notas do projeto*/
.name-project-in-note {
    font-size: 15px;
}

.span-detail-note {
    margin-right: 20px;
}

/* END Estilos para as Notas do projeto*/

/*Estilos para os arquivos do projeto*/
.name-project-in-file {
    font-size: 15px;
}

.span-detail-file {
    margin-right: 20px;
}

/* END Estilos para as Notas do projeto*/

/*Estilos para imagens*/
.preview-image img {
    height: 70px;
    width: 70px;
}

/*Estilos para frm de tarefas*/
.frm-cad-task {
    background: #FAFAFA;
}

.frm-cad-task h4, form {
    margin: 20px 20px;
}

/*Estilo para footer*/
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
}