html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px; /* altura do seu footer */
}

/*Stylos para a busca*/
.painel-search-animado.ng-leave-active {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
}

.painel-search-animado {
    -webkit-transition: 0.5s;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

/*END Stylos para a busca*/

/*Estilos para listagem */
.tr-result-search td {
    padding-top: 20px !important;
    background: rgba(245, 241, 241, 0.39);
}

/*estilos para loading*/
#load-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #E6E5DE;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 44%;
    top: 40%;
    display: block;
}

/*Estilos para as Notas do projeto*/
.name-project-in-note {
    font-size: 15px;
}

.span-detail-note {
    margin-right: 20px;
}

/* END Estilos para as Notas do projeto*/

/*Estilos para os arquivos do projeto*/
.name-project-in-file {
    font-size: 15px;
}

.span-detail-file {
    margin-right: 20px;
}

/* END Estilos para as Notas do projeto*/

/*Estilos para imagens*/
.preview-image img {
    height: 70px;
    width: 70px;
}

/*Estilos para frm de tarefas*/
.frm-cad-task {
    background: #FAFAFA;
}

.frm-cad-task h4, form {
    margin: 20px 20px;
}

/*Estilo para footer*/
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

/*Estilo para aviso no dashboard*/
.viewHelp {
    color: #a08888;
    margin-top: 6%;
}

/*Estilos para ultimas atualizações*/
.update-show {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

/*Estilos para as taredas incluidas mostradas no realtime*/
.date-task-included{
    color: #006400;
}

.activeDetails ul li{
    font-size: 11px;
}

hc-pie-chart {
    width: 80%
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}