<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalhe do Cliente 
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Id</label>

                        <div class="col-sm-10">
                            <p class="form-control-static">{{client.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <p class="form-control-static">{{client.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fone</label>

                        <div class="col-sm-10">
                            <p class="form-control-static">{{client.phone}}</p>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Responsible</label>

                        <div class="col-sm-10">
                            <p class="form-control-static">{{client.responsible}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <a class="btn btn-warning" ng-href="#/clients/dashboard">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
