<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de tarefas do projeto:
                    <span class="label label-info name-project-in-note">{{projectTasks[0].project_name}}</span>
                </div>
                <div class="panel-body">
                    <form class="frm-search">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"  ng-click="showFrmJob = !showFrmJob">New task</button>
                            </span>
                            <input ng-model="filtro"
                                   ng-model-options="{debounce: 300}"
                                   type="text" class="form-control"
                                   placeholder="O que você deseja pesquisar...">
                                   <span class="input-group-btn">
                            <a ng-href="#/projects" class="btn btn-warning">Back to list of projects</a>
                            </span>
                        </div>
                    </form>

                    <div class="frm-cad-task" ng-show="showFrmJob">
                        <h4>Task Register</h4>
                        <form class="form-inline" name="formJob" role="form" method="POST" ng-submit="save()">
                            <div class="form-group">
                                <label class="">Do you have a job ?</label>
                                <input type="text" class="form-control" name="name" ng-model="projectTask.name"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-disabled="formJob.$invalid">Save job
                            </button>
                        </form>
                    </div>


                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in projectTasksFilter = ( projectTasks | filter:filtro )"
                            class="painel-search-animado">
                            <td>{{t.name}}</td>
                            <td>{{t.start_date | dataBr }}</td>
                            <td>{{t.due_date | dataBr }}</td>
                            <td>
                                <span ng-if="t.status == 0" class="label label-warning">Incompleta</span>
                                <span ng-if="t.status == 1" class="label label-success">Completa</span>
                            </td>
                            <td>
                                <a ng-href="#/project/{{t.project}}/task/{{t.id}}/edit"><i
                                        class="glyphicon glyphicon-edit"></i></a>
                                <a ng-href="#/project/{{t.project}}/task/{{t.id}}/remove"><i
                                        class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                        <tr class="tr-result-search">
                            <td colspan="5">
                                Foram encontrados
                                <span class="label label-pill label-success">{{projectTasksFilter.length}}</span> de
                                <span class="label label-pill label-primary">{{projectTasks.length}}</span> registros.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>