<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit project file:
                    <span class="label label-info name-project-in-file">{{projectFile.name}}</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">
                        <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="projectFile.name" required>

                                <div ng-messages="form.name.$error"
                                     ng-show="form.name.$touched"
                                     class="help-block">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.obs.$valid && form.obs.$touched}">
                            <label class="col-md-4 control-label">Description</label>

                            <div class="col-md-6">
                                <textarea class="form-control" name="description" ng-model="projectFile.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Deseja baixar o arquivo? </label>
                            <div class="col-md-6">
                                <project-file-download id-file="{{projectFile.id}}"></project-file-download>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Editar</button>
                                <a class="btn btn-warning" ng-href="#/projects/{{projectFile.project_id}}/files">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>